---
$path
---

<script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>
<script src="https://raw.github.com/betamax/getImageData/master/jquery.getimagedata.min.js"></script>
<script src="{{$path}}vender/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/jquery.fileupload.js"></script>
<script src="{{$path}}vender/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{$path}}vender/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="{{$path}}script/all.js" type="text/javascript"></script>
