---
$title
$description
$path
---

<div class="row">
  <div class="col-sm-6 col-md-7 col-lg-8" style="height:inherit">
    <div class="preview">
      <div id="rotate_container">
        <div id="rotate_object">
          <img src="images/object/kaneshiro.png" id="kaneshiro">
        </div>
      </div>
      <div id="coverprint"><div class="preview_bg"><img src="upload/sample.jpg" id="previewimg"></div></div>
      <div id="loading"><div class="drop"><img src="images/loading.gif"></div></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4 text-center" id="generator">
    <h1>{{$title}}</h1>
    <h2>{{$description}}</h2>
    <form role="form" action="generate" id="iamForm" method="post">
      <div id="settings">
        <div class="col-sm-12" style="display:none;">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="part_x">起始座標 X</label>
              <input type="text" class="form-control" id="part_x" name="part_x" value="" readonly="readonly">
            </div>
          </div>
          <div class="col-sm-6 last">
            <div class="form-group">
              <label for="part_y">起始座標 Y</label>
              <input type="text" class="form-control" id="part_y" name="part_y" value="" readonly="readonly">
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="display:none;">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="part_w">金城武寬度</label>
              <input type="text" class="form-control" id="part_w" name="part_w" value="" readonly="readonly">
            </div>
          </div>
          <div class="col-sm-6 last">
            <div class="form-group">
              <label for="part_h">金城武高度</label>
              <input type="text" class="form-control" id="part_h" name="part_h" value="" readonly="readonly">
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:10px; padding:10px 0; border-bottom:1px solid #ccc; border-top:1px solid #ccc;">
          【上傳背景圖片】<br>將圖片檔拖放到頁面上任何地方<br>或 <a class="uploadBtn">按此上傳圖片</a><br><br>
          【使用方法】<br>移動、縮放金城武至合適位置<br>完成後點擊下方按鈕下載或發佈圖片</a>
        </div>
        <div class="col-sm-12" style="margin-bottom:10px; padding:10px 0 5px; border-bottom:1px solid #ccc; padding-top:0;">
          <div class="row">
            <div class="col-xs-6">
              <input type="checkbox" value="1" name="mirror_h" id="mirror_h" class="checkbox" /> <label for="mirror_h">水平鏡射</label>
            </div>
            <div class="col-xs-6 last">
              <input type="checkbox" value="1" name="mirror_v" id="mirror_v" class="checkbox" /> <label for="mirror_v">垂直鏡射</label>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="margin-bottom:10px; padding:10px 0; border-bottom:1px solid #ccc; padding-top:0;">
          <label for="pixel_size">濾鏡效果</label>
          <select class="form-control" name="wb" id="wb">
            <option value="" selected="selected">預設</option>
            <option value="wb1">暖色濾鏡</option>
            <option value="wb2">冷色濾鏡</option>
            <option value="wb3">紅色濾鏡</option>
            <option value="wb4">黃色濾鏡</option>
            <option value="wb5">綠色濾鏡</option>
            <option value="wb6">青色濾鏡</option>
            <option value="wb7">藍色濾鏡</option>
            <option value="wb8">紫羅蘭色濾鏡</option>
            <option value="wb9">洋紅色濾鏡</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>
      <div id="formbuttons">
        <input type="hidden" value="sample.jpg" name="source" id="source">
        <input type="hidden" value="" name="directpost" id="directpost">
        <input type="button" value="下載圖片" class="submit btn btn-danger btn-lg" id="normalSubmit" style="margin-bottom:10px;">
        <input type="button" value="產生為背景" class="submit btn btn-warning btn-lg" id="genbgSubmit" style="margin-bottom:10px;">
      </div>
    </form>
  </div>
</div>
<div id="show"><i class="glyphicon glyphicon-cog"></i></div>

<form method="post" action="uploader" enctype="multipart/form-data">
    <input type="hidden" value="sample.jpg" id="filename" name="filename">
    <input type="file" name="Filedata" id="uploadInput">
</form>
<img id="truesize" style="position:absolute; z-index:-9999; width:auto; max-width:99999%; left:-99999%; top:-99999%;">
<div id="rotateCopy" style="opacity: 0;filter: alpha(opacity=0);"></div>
<div id="uploading">圖片上傳中，請稍後</div>
<div id="generating">背景圖片產生中，請稍後</div>
